---
import VideoContainer from "@components/VideoContainer.astro";
import { VIDEOS } from "@data/VideoData";
---

<section
    class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 xs:p-3"
>
    {
        VIDEOS.map(
            ({
                thumbnailSrc,
                videoSrc,
                channelImage,
                channelName,
                videoTitle,
                views,
                uploadDate,
            }) => {
                return (
                    <VideoContainer
                        thumbnailSrc={thumbnailSrc}
                        videoSrc={videoSrc}
                        channelImage={channelImage}
                        channelName={channelName}
                        videoTitle={videoTitle}
                        views={views}
                        uploadDate={uploadDate}
                    />
                );
            },
        )
    }
</section>
